<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="header"></th:block>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/memoinsert}" th:method="post">
	<h2>メモ帳</h2>
	<div>名前：<input type="text" name="writer" size="15">
	メモ：<input type="text" name="memo" size="35">
	<button type="submit">登録</button></div>
	</form>
	<table border="1">
		<tr>
			<th>No</th>
			<th>名前</th>
			<th>メモ</th>
			<th>日付</th>
		</tr>
		<tr th:each="row : ${list}">
			<td th:text="${row.idx}"></td>
			<td th:text="${row.writer}"></td>
			<td><a th:href="@{/memodetail/{idx}(idx=${row.idx})}" th:text="${row.memo}"></a></td>
			<td th:text="${row.post_date}"></td>
		</tr>
	</table>
</body>
</html>